<template>
    <lightning-card title="Hello"
            variant="narrow"
            icon-name="standard:opportunity">
        <h1 slot="title">Hello</h1>
        <h1>This is the body</h1>
        <div slot="actions">
            <lightning-button-icon icon-name="utility:down"></lightning-button-icon>
        </div>
        <div slot="footer">
            <h6>Footnote</h6>
        </div>
    </lightning-card>

    <lightning-button
        variant="brand"
        label="New"
        title="Begins the task"
        onclick={handleClick}>
    </lightning-button>
</template>