<template>
        <lightning-input type="text" label="Text to send to c1: " value={msg} onchange={handleChange}></lightning-input>
        <lightning-button variant="brand" label="Send" onclick={handleClick}>
        </lightning-button>
</template>