<template>
    <lightning-input data-id="1" data-it="first" label="Type here: " value={message1} onkeyup={handleInput1}>
    </lightning-input>
    {message1}

    <lightning-input data-id="2" data-it="second" label="Type here: " value={message2} onkeyup={handleInput2}>
    </lightning-input>
    {message2}
</template>