<template>
    <c-event-play-child1 onsendmsg={handleSendMsg}></c-event-play-child1>
    <hr>
    <c-event-play-child2></c-event-play-child2>
    
    <hr>
    <template if:true={account.name}>
        <lightning-card  title="Account Record">
            <p>Account Name: {account.name}</p>
            <p>Account Owner: {account.owner}</p>
            <p>Account LWc Test: {account.lwc_test}</p>

        </lightning-card>
    </template>

    <hr>

    <template if:true={accounts}>
        <div style="height: 300px;">
            <lightning-datatable
                    key-field="id"
                    data={accounts}
                    columns={columns}>
            </lightning-datatable>
        </div>    
    </template>

</template>