<template>
    <lightning-input type="text" label="Text to send to parent: " value={msg1} onchange={handleChange}></lightning-input>
    <lightning-button variant="brand" label="Send" onclick={handleClick}>
    </lightning-button>

</template>